@import "node_modules/bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #D48F38;
    padding-top: 1rem;
}

.row {
    //boostrap di default imposta del padding
    padding-left: 0;
    padding-right: 0;
}